<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
     <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Clientes</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
 
    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Clientes</h1>
        <form class="row g-3" id="frmClient">

            <!-- Caixa de input -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">
            </div>

            <!-- botão de pesquisa / crud read -->
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" onclick="buscarCliente()" id="btnRead">Buscar</button>
            </div>
 
            <hr class="border border-danger border-1 opacity-75">
 

            <!-- id do mongoDB oculto -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputClientId" placeholder="ID">
            </div>
 
            <br>
 
           
            <div class="col-md-8">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" required maxlength="50" spellcheck="false">
                <br>
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputPhoneClient" required maxlength="15">
                <br>
                <label for="inputEmailClient" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmailClient" spellcheck="false">
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-success" id="btnCreate" >Adicionar</button>
                <button type="button" class="btn btn-secondary" id="btnUpdate" onclick="editarCliente()">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick=excluirCliente()>Excluir</button>
                <button type="reset" class="btn" id="btnReset" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>
 
     <!-- bootstrap -->
     <script src="../public/js/bootstrap.min.js"></script>
     <script src="cliente.js"></script>
</body>
</html>