<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <title>Fornecedores</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <br>
    <div class="container">
        <br>
        <br>
        <form class="row g-3 " id="frmFornecedor">

            <!-- Caixa de input -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">
            </div>

            <!-- botão de pesquisa / crud read -->
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" onclick="buscarFornecedor()" id="btnRead">Buscar</button>
            </div>

            <hr class="border border-danger border-1 opacity-75">

            <br>

            <div class="col-md-6">
                <label for="inputIdFornecedor" class="form-label">ID do Usuário</label>
                <input type="text" class="form-control" id="inputFornecedorId">

                <label for="inputRzsFornecedor" class="form-label">Razão social</label>
                <input type="text" class="form-control" id="inputRzsFornecedor" required maxlength="30" spellcheck="false">
                <br>

                <label for="inputCpnjFornecedor" class="form-label">Cpnj</label>
                <input type="number" class="form-control" id="inputCpnjFornecedor" required maxlength="14" spellcheck="false">
                <br>

                <label for="inputFoneFornecedor" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputFoneFornecedor" required maxlenght="11" spellcheck="false">
                <br>

                <label for="inputEmailFornecedor" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmailFornecedor" required maxlength="30" spellcheck="false">
                <br>
            </div>

            

            <div class="col-md-4">
                <div id="resultado">
                    <label for="inputLogradouroFornecedor">Logradouro:</label>
                    <input type="text" id="inputLogradouroFornecedor" class="form-control"  name="logradouro">

                    <label for="inputNumFornecedor">Número:</label>
                    <input type="text" id="inputNumFornecedor" class="form-control"  name="numero">

                    <label for="inputComplementoFornecedor">Complemento:</label>
                    <input type="text" id="inputComplementoFornecedor" class="form-control"  name="complemento">

                    <label for="inputBairroFornecedor">Bairro:</label>
                    <input type="text" id="inputBairroFornecedor" class="form-control" name="bairro">

                    <br>
                    <label for="localidade">Cidade:</label>
                    <input type="text" id="inputLocalidadeFornecedor" class="form-control" name="localidade">

                    <br>
                    
                  </div>
            </div>

            <div class="col-md-2">
                <label for="uf">UF:</label>
                <input type="text" id="uf" name="uf" class="form-control">
                <label for="cep">CEP:</label>
                <input type="number" id="cep" class="form-control" name="cep">
                <br>
                <button type="button" id="buscar" class="btn btn-danger">Buscar</button>
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-success" id="btnCreate" >Adicionar</button>
                <button type="button" class="btn btn-secondary" id="btnUpdate" onclick="editarFornecedor()">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirFornecedor()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>

            
    </div>

    <!-- bootstrap -->
    <script src="cep.js"></script>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="fornecedor.js"></script>
</body>

</html>