<!DOCTYPE html>
<html lang="pt-br">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest - controle de estoque</title>
 
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
 
    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
 
</head>
 
<body>
    <div class="container">
        <h1>CONEST</h1>
    </div>
 
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="">
    </footer>

    <button class="btn btn-outline-primary" onclick="Clientes()"><img src="../public/img/cliente.png" alt=""></button>
    <button class="btn btn-outline-primary" onclick="Fornecedores()"><img src="../public/img/fornecedor.png" alt=""></button>
    <button class="btn btn-outline-primary" onclick="Produtos()"><img src="../public/img/produto.png" alt=""></button>
    <button class="btn btn-outline-primary" onclick="Relatorios()"><img src="../public/img/relatorios.png" alt=""></button>



    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>
 
</html>